.bar-color{
  background-color: #4B0082;
}
.brand-logo{
  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
}
.ul-position{
  margin-left: 50vw;
}
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar ul {
  display: flex;
  position: static;
  list-style-type:none;
}

.ul-position a {
  color: #ffffff;
  text-decoration: none;
  list-style-type:none;
  padding: 10px;
}

.ul-position a:hover {
  color: gray;
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .bar-color{
    background-color: #4B0082;
    height: 50px;
  }
  .brand-logo{
    color: #ffffff;
    position: fixed;
    top: 10px;
    margin-left: -10vw;
  }
  .ul-position{
    margin-top: 0vh;
  }
  /* Navbar */
 .navbar {
   display: block;
   text-align: center;
 }

 .navbar ul {
   text-align: center;
   justify-content: center;
   padding-top: 30px;
   margin-left: 0vw;
 }

 .navbar h1 {
   margin-bottom: 1rem;
 }

 .navbar .welcome {
   display: none;
 }
}
